h1{
    color: tomato;
    font-size: 70px;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}

p{
    color: darkgray;
    font-family: sans-serif;
    text-align: center;
}

button{
    background-color: orangered;
    color: white;
    border: 0;
    padding: 20px;
}